
.home-container {
    min-height: 100vh;
    background: url('../assets/unnamed.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff; 
    filter: saturate(1.5) brightness(1.1);
}

.home-title {
    font-size: 5.5rem;
    margin-bottom: 1rem;
    color: #f74343;
    letter-spacing: 1px;
}

.home-description {
    font-size: 1.2rem;
    line-height: 2.5;
    margin-bottom: 2rem;
    max-width: 500px;
    color: #090560;
}


.boxes-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.box {
    flex: 1;
    min-width: 100px;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.box-foo {
    background: #6bf58d; 
    color: #0f381a;
}

.box-boo {
    background: #ff93e3; 
    color: #5e0036;
}

.buttons-container {
    display: flex;
    gap: 1rem;
}

